<!DOCTYPE HTML>
<html>
<head>
 {% load static %}
 {% load crispy_forms_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'fir/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'fir/css/style.css' %}"/>
<script src="{% static 'fir/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'smart-selects/admin/js/bindfields.js' %}"></script>
<script src="{% static 'fir/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'smart-selects/admin/js/bindfields.js' %}"></script>
<script type="text/javascript" src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
<script type="text/javascript" src="{% static 'smart-selects/admin/js/chainedm2m.js' %}"></script>


<script>

  
function setreadonly() {
$('#id_DIST, #id_ACC_ID,#id_FN, #id_MONTH, #id_YEAR, #id_RNG, #id_TIME_SLOT, #id_DAY_NIGHT, #id_ACCTYPE, #id_DRUNK_FAULT, #div_id_offend-0-SUBVEHICLE_TYPE1, #id_vvic-0-SUBVEHICLE_TYPE2, #id_map_loc, #id_offend-0-DRI_DRUNK').prop('readonly', true);
$('#id_DIST, #id_ACC_ID,#id_FN, #id_MONTH, #id_YEAR, #id_RNG, #id_TIME_SLOT, #id_DAY_NIGHT, #id_ACCTYPE,#id_map_loc, #id_offend-0-DRI_DRUNK ').css({"background-color": "rgb(247, 247, 247)"});
$('#id_DIST, #id_ACC_ID,#id_FN, #id_MONTH, #id_YEAR, #id_RNG, #id_TIME_SLOT, #id_DAY_NIGHT, #id_ACCTYPE ').css({"border": "1px #aaaaaa solid"});
$('#id_LOCATION').val('11');
$('input:radio[name=offend-0-dri_sex][value=M]').click();
$('input:radio[name=pvic-0-VICSEX][value=M]').click();
$("#div_id_OTHER_REMEDIES").hide();
$('#id_DATE_OCC_month').val('7');
$('#id_FIR_DATE_year').val('2017');
$('#id_FIR_DATE_month').val('7');
$('#id_SELF_TYPE').val('0');
$('#div_id_AREA_TYPE_OTHER').hide();
$('#div_id_TIME_OCC').hide();
$('#div_id_AREA_TYPE2_OTHER').hide();
$("#div_id_offend-0-dri_age").hide();
$("#div_id_vvic-0-routeno2").hide();
$("#div_id_vvic-0-rgno2").hide();
$('#div_id_ROAD_CHARACTER_REMARKS').hide();
$('#div_id_SURFACE_CONDITION_REMARKS').hide();
$('#div_id_ROAD_CONDITION_REMARKS').hide();
$('#div_id_OTHER_DRIVER_FAULT').hide();
$('#div_id_OTHER_VEC_MEH_FAULT').hide();
$('#div_id_OTHER_ROAD_ENV_FAULT').hide();
$('#div_id_OTHER_ROAD_ENGG_FAULT').hide();
$("#div_id_ROADNAME").hide();
$('#div_id_GROUND_LEVEL').hide();
$('#div_id_FLYOVER').hide();
$('#div_id_UNDERPASS').hide();
$('#div_id_OTHER_VICTIM_FAULT').hide();
$('#div_id_OTHER_WEATHER_COND_FAULT').hide();
$('#div_id_pvic-0-VIC_OTHER_WORK_STATUS').hide();
$('#div_id_pvic-0-VIC_OTHER_EDU_QUAL').hide();
$('#div_id_offend-0-OTHER_EDU_QUAL').hide();
$('#div_id_offend-0-OTHER_WORK_STATUS').hide();
$("#div_id_MINORROADNAME").hide();
$('#div_id_offend-0-SUBVEHICLE_TYPE1').hide();
$('#div_id_vvic-0-SUBVEHICLE_TYPE2').hide();
$("#div_id_pvic-0-VIC_SEAT_BELT").hide();
$("#div_id_pvic-0-VIC_HELMET").hide();
$("#div_id_pvic-0-HELMET_STANDARD").hide();
$('#div_id_ILLUMINATION,#div_id_YES_ILLUMINATION').hide();
$('#div_id_DRIVER_FAULT, #div_id_VEH_MECH_FAULT, #div_id_ROAD_ENV_FAULT, #div_id_VICTIM_FAULT, #div_id_ROAD_ENGG_FAULT, #div_id_DRUNK_FAULT, #div_id_OVER_SPEED_FAULT, #div_id_WEATHER_COND, #div_id_OTHER_CAUSE').hide();
//license fields
$("#div_id_offend-0-dri_lic_yes, #div_id_offend-0-dri_lic_date_issu, #div_id_offend-0-dri_lic_perm, #div_id_offend-0-dri_lic_no, #div_id_offend-0-dri_lic_from, #div_id_offend-0-dri_lic_date_upto, #div_id_offend-0-dri_lic_not").hide();

$('#id_LOCATION').val('11');
$('#div_id_JUNCTION_CONTROL').hide();
$('#div_id_DIST,#div_id_RNG').wrapAll( $('<div>').addClass('wrap one') );
$('.one').html($('#div_id_DIST').html() +  $('#div_id_RNG').html());
$('#div_id_PS, #div_id_FIRNO').wrapAll( $('<div>').addClass('wrap two') );
$('.two').html($('#div_id_PS').html() + $('#div_id_FIRNO').html());
$('#div_id_ACC_PHOTO, #div_id_ACC_PHOTO1,  #div_id_ACC_PHOTO2,  #div_id_ACC_PHOTO3').wrapAll( $('<div>').addClass('wrap three') );
$('.three').html($('#div_id_ACC_PHOTO').html() + $('#div_id_ACC_PHOTO1').html() + $('#div_id_ACC_PHOTO2').html() + $('#div_id_ACC_PHOTO3').html() );
/*$('#div_id_ROADNAME, #div_id_MINORROADNAME').wrapAll( $('<div>').addClass('wrap four') );
$('.four').html($('#div_id_ROADNAME').html() + $('#div_id_MINORROADNAME').html() ); */
$('#div_id_SEPERATION, #div_id_ROAD_TYPE1').wrapAll( $('<div>').addClass('wrap five') );
$('.five').html($('#div_id_SEPERATION').html() + $('#div_id_ROAD_TYPE1').html());
$('#div_id_LONGITUDE, #div_id_LATITUDE').wrapAll( $('<div>').addClass('wrap six') );
$('.six').html($('#div_id_LONGITUDE').html() + $('#div_id_LATITUDE').html());
id_FIRNO.oninput = function () {
    if (this.value.length > 4) {
        this.value = this.value.slice(0,4);
    }
}

$("#div_id_PLACE_OCC").prepend("<h3 id = 'section-heading'>Location</h3>");
$("#div_id_CAUSE").prepend("<h3 id = 'section-heading'>Cause Analysis</h3>");
$("#div_id_REMEDIES").prepend("<h3 id = 'section-heading'>Remedies</h3>");

 }


</script>



<style type="text/css">
.form-style-6 {
    margin-top: 0 !important;
}

.form-style-6 {
    margin-top: 0;
}
h3#section-heading {
    margin-top: 0;
}

.wrap {
    margin-bottom: 15px;
	border-bottom: 1px #c7bfbf solid;
	padding-bottom: 20px;
}

.form-group {
    padding-bottom: 20px;
    border-bottom: 1px #c7bfbf solid;
    margin-bottom: 15px;
}

label[for="id_RNG"], label[for="id_FIRNO"], label[for="id_ROAD_TYPE1"], label[for="id_LATITUDE"] {
    width: initial;
}
.wrap {
    MARGIN-BOTTOM: 15PX;
}

input, select {
    border-radius: 0 !important;
    padding: 3px  !important;
    width: initial  !important;
	height: initial  !important;
	display: inline  !important;

}

.controls, .radio {
    display: inline;
}



label {
    width: 140px;

    padding-left: 5px;
    padding-right: 5px;
    font-weight: 400;
}
td {
    padding-right: 5px;
}
select {
    width: 180px;
    padding: 3px;
}

#id_CONVERT_DATE_month,#id_CONVERT_DATE_day,#id_CONVERT_DATE_year,#convert_date {
    display: none;

}
/*div#table1 {
    display: none;
}*/

.form-style-6{
    font: 95% Arial, Helvetica, sans-serif;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}
.form-style-6 h1{
    background: #2196F3;
    padding: 20px 0;
    font-size: 160% !important;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #2196F3;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}
.form-style-6 input[type="text"],
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
div{
    width: 100%;
    color: black;
    padding: 5px;
}
input {
    background-color: white
    color: white;
    margin: 5px 0 5px 3px;
    padding: 3px;
}

h2 { text-align: center; }
@import "compass/css3";

.table-editable {
  position: relative;

  .glyphicon {
    font-size: 20px;
  }
}

.table-remove {
  color: #700;
  cursor: pointer;

  &:hover {
    color: #f00;
  }
}

.table-up, .table-down {
  color: #007;
  cursor: pointer;

  &:hover {
    color: #00f;
  }
}

.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  right: 0;

  &:hover {
    color: #0b0;
  }
}
</style>

</head>
<body onload="setreadonly()">
{{form.media}}

{% if form.errors %}
    {% for field in form %}

        {% for error in field.errors %}

            <div class="alert alert-danger">
                <strong>{{field.label}} : {{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
{{ pvicform.management_form }}

{% for victim in pvicform %}
{% if victim.errors %}
    {% for field in victim %}

        {% for error in field.errors %}

            <div class="alert alert-danger">
                <strong>{{field.label}} : {{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in victim.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
{% endfor %}


{% for vehicle in vvicform %}
{% if vehicle.errors %}
    {% for field in vehicle %}

        {% for error in field.errors %}

            <div class="alert alert-danger">
                <strong>{{field.label}} : {{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in vehicle.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
{% endfor %}
{{ offendform.management_form }}
{% for offender in offendform %}
{% if offender.errors %}
    {% for field in vehicle %}

        {% for error in field.errors %}

            <div class="alert alert-danger">
                <strong>{{field.label}} : {{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in offender.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
{% endfor %}

{% for cause in form2 %}
{% if cause.errors %}
    {% for field in vehicle %}

        {% for error in field.errors %}

            <div class="alert alert-danger">
                <strong>{{field.label}} : {{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in cause.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
{% endfor %}

{% if collisionform.errors %}
    {% for field in collisionform %}

        {% for error in field.errors %}

            <div class="alert alert-danger">
                <strong>{{field.label}} : {{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in collisionform.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<div class="form-style-6">
<h1>ACCIDENT REPORT FORM</h1>

  <ul class="nav nav-tabs" id = "mytabs">
    <li class="active"><a data-toggle="tab" href="#main_fir">FIR Details</a></li>
    <li><a data-toggle="tab" href="#offend">Offending Vehicle</a></li>
    <li><a data-toggle="tab" href="#vvic">Victim Vehicle</a></li>
    <li><a data-toggle="tab" href="#pvic">Victim Person</a></li>
    <li><a data-toggle="tab" href="#collision">Collisions</a></li>
    <li><a data-toggle="tab" href="#cause">Causes/Remedies</a></li>

  </ul>


<div class="tab-content">
<div class="tab-pane fade in active" id="main_fir">

<form name="myForm" action = "{% url 'new_fir' %}" method="post" enctype="multipart/form-data">
{{form|crispy}}
{% csrf_token %}
<a class="btn btn-primary btnNext">Next</a>
</div>

<div class="tab-pane fade" id="vvic">
<div class = "vvic-formset">

{% for form in vvicform %}
              {{ form|crispy }}
            {% endfor %}
{{ vvicform.management_form }}
</div>
<a class="btn btn-primary btnNext">Next</a>

</div>

<div class="tab-pane fade" id="pvic">
<div class = "pvic-formset">

{{pvicform|crispy}}
</div>
<a class="btn btn-primary btnNext">Next</a>

</div>
<div class="tab-pane fade" id="offend">
<div class = "offend-formset">

{{offendform|crispy}}

</div>
<a class="btn btn-primary btnNext">Next</a>

</div>
<div class="tab-pane fade" id="collision">
<div class="collision-formset">

{{collisionform|crispy}}

 </div>
<a class="btn btn-primary btnNext">Next</a>

</div>
<div class="tab-pane fade" id="cause">
{% csrf_token %}
{{form2|crispy}}
<input type="submit" class = "formsubmit">

</div>

</div>

</form>
</div>


<script src="{% static 'fir/js/jquery.formset.js' %}"></script>
<script src = "{% static 'fir/js/script.js' %}"></script>
<script type="text/javascript">
$("#id_offend-0-dri_lic").change(function () {
    var selection = $("#id_offend-0-dri_lic option:selected").text();
    //alert("you selected" + selection);
    if (selection=='YES')
    {
$("#div_id_offend-0-dri_lic_yes, #div_id_offend-0-dri_lic_date_issu, #div_id_offend-0-dri_lic_no, #div_id_offend-0-dri_lic_from, #div_id_offend-0-dri_lic_date_upto").show();    }
    else
  $("#div_id_offend-0-dri_lic_yes, #div_id_offend-0-dri_lic_date_issu, #div_id_offend-0-dri_lic_no, #div_id_offend-0-dri_lic_from, #div_id_offend-0-dri_lic_date_upto").hide(); 


  });
$("#id_offend-0-dri_lic").change(function () {
    var selection = $("#id_offend-0-dri_lic option:selected").text();
    //alert("you selected" + selection);
    if (selection=='NO')
    {
$("#div_id_offend-0-dri_lic_not").show();    }
    else
  $("#div_id_offend-0-dri_lic_not").hide(); 

  });

$("#id_offend-0-dri_lic_yes").change(function () {
    var selection = $("#id_offend-0-dri_lic_yes option:selected").text();
    //alert("you selected" + selection);
    if (selection=='Permanent')
    {
$("#div_id_offend-0-dri_lic_perm").show();    }
    else
  $("#div_id_offend-0-dri_lic_perm").hide(); 

  });

$("#id_offend-0-age_known_1").change(function () {

    $("#div_id_offend-0-dri_age").show();
    document.getElementById("id_offend-0-dri_age").value = "";


  });


  $("#id_offend-0-age_known_2").change(function () {

      $("#div_id_offend-0-dri_age").hide();
      document.getElementById("id_offend-0-dri_age").value = "0";


    });
  $("#id_REMEDIES").change(function () {
    var selection = $("#id_REMEDIES option:selected").text();
    //alert("you selected" + selection);
    if (selection=='Others')
    {
    $("#div_id_OTHER_REMEDIES").show();
    }
    else
    $("#div_id_OTHER_REMEDIES").hide();

  });

$('.btnNext').click(function(e){
       var link = $('#mytabs .active').next().children('a').attr('href');
alert(link);
  $('#mytabs a[href="' + link + '"]').tab('show');
    });



$("#id_TIME_OCC").change(function () {
    var selection = document.getElementById("id_TIME_OCC").value;

    //for timeslot
    second = selection;
    second = second.slice(2,4);
    selection = selection.slice(0,2);
    selection = parseInt(selection);
    if ((selection >= 21 && selection<=23) || (selection <=8 && selection>=0))
          $("#div_id_ILLUMINATION,#div_id_YES_ILLUMINATION").show();

    second = parseInt(second);
    if(second >=60 && second <= 99 ) { document.getElementById("id_TIME_OCC").value = "INV";   }
    if( selection < 0 || selection >= 24 ) { document.getElementById("id_TIME_OCC").value = "INV";   }
});

$("#id_MVA_NAME").change(function () {
    var selection = document.getElementById("id_MVA_NAME").value;

    document.getElementById("id_DRUNK_FAULT").value = "Yes";
    document.getElementById("id_offend-0-DRI_DRUNK").value = "Drunk";

});
  $("#id_AREA_TYPE").change(function () {
    var selection = $("#id_AREA_TYPE option:selected").text();
    //alert("you selected" + selection);
    if (selection=='Other')
    {
    $("#div_id_AREA_TYPE_OTHER").show();
    }
    else
    $("#div_id_AREA_TYPE_OTHER").hide();

  });

 $("#id_ROAD_LEVEL").change(function () {
    var selection = $("#id_ROAD_LEVEL option:selected").text();
    if (selection=='Ground Level')
    {   $("#div_id_GROUND_LEVEL").show();
        $('#div_id_FLYOVER').hide();
        $('#div_id_UNDERPASS').hide();
        $("#id_FLYOVER, #id_UNDERPASS").val('');
       }
    else if (selection=='Flyover')
{
    $("#div_id_FLYOVER").show();
    $('#div_id_UNDERPASS').hide();
    $('#div_id_GROUND_LEVEL').hide();
    $("#div_id_JUNCTION_CONTROL").hide();
    $("#id_JUNCTION_CONTROL, #id_GROUND_LEVEL, #id_UNDERPASS").val('');

    }
    else {
      $("#div_id_FLYOVER").hide();
      $('#div_id_UNDERPASS').show();
      $('#div_id_GROUND_LEVEL').hide();
      $("#div_id_JUNCTION_CONTROL").hide();
      $("#id_JUNCTION_CONTROL, #id_GROUND_LEVEL, #id_FLYOVER").val('');

    }


  });
$("#id_TIME_KNOWN_1").change(function () {

    $("#div_id_TIME_OCC").show();
    document.getElementById("id_TIME_OCC").value = "";


  });


  $("#id_TIME_KNOWN_2").change(function () {

      $("#div_id_TIME_OCC").hide();
      document.getElementById("id_TIME_OCC").value = "UNK";


    });



 $("#id_AREA_TYPE2").change(function () {
    var selection = $("#id_AREA_TYPE2 option:selected").text();
    //alert("you selected" + selection);
    if (selection=='Other')
    {
    $("#div_id_AREA_TYPE2_OTHER").show();

    }
    else
    $("#div_id_AREA_TYPE2_OTHER").hide();
  });
$("#id_ROAD").change(function () {
    var selection = $("#id_ROAD option:selected").text();
    //alert("you selected" + selection);
    if (selection=='MINOR ROADS')
    {
    $("#div_id_MINORROADNAME").show();
    $("#div_id_ROADNAME").hide();

    }
    else
    $("#div_id_MINORROADNAME").hide();

  });
$("#div_id_GROUND_LEVEL").change(function () {
    var selection = $("#id_GROUND_LEVEL option:selected").text();
    //alert("you selected" + selection);
    if (selection=='Round About' || selection=='Cut' ||selection=='Junction' ||selection=='T Point'  )
    {
    $("#div_id_JUNCTION_CONTROL").show();

    }
    else
    $("#div_id_JUNCTION_CONTROL").hide();
  });

 $("#id_ROAD_CHARACTER").change(function () {
    var selection = $("#id_ROAD_CHARACTER option:selected").text();
    //alert("you selected" + selection);
    if (selection=='Others')
    {
    $("#div_id_ROAD_CHARACTER_REMARKS").show();

    }
    else
    $("#div_id_ROAD_CHARACTER_REMARKS").hide();
  });


 $("#id_SURFACE_CONDITION").change(function () {
    var selection = $("#id_SURFACE_CONDITION option:selected").text();
    //alert("you selected" + selection);
    if (selection=='Other')
    {
    $("#div_id_SURFACE_CONDITION_REMARKS").show();

    }
    else
    $("#div_id_SURFACE_CONDITION_REMARKS").hide();
  });

 $("#id_ROAD_CONDITION").change(function () {
    var selection = $("#id_ROAD_CONDITION option:selected").text();
    //alert("you selected" + selection);
    if (selection=='Others')
    {
    $("#div_id_ROAD_CONDITION_REMARKS").show();

    }
    else
    $("#div_id_ROAD_CONDITION_REMARKS").hide();
  });

$("#id_CAUSE").change(function () {
    var selection = $("#id_CAUSE option:selected").text();

    if (selection=='Known')
  { 		  $('#id_DRIVER_FAULT, #id_VEH_MECH_FAULT, #id_ROAD_ENV_FAULT, #id_VICTIM_FAULT, #id_ROAD_ENGG_FAULT, #id_DRUNK_FAULT, #id_OVER_SPEED_FAULT, #id_WEATHER_COND, #id_OTHER_CAUSE').val('');
			$('#div_id_DRIVER_FAULT, #div_id_VEH_MECH_FAULT, #div_id_ROAD_ENV_FAULT, #div_id_VICTIM_FAULT, #div_id_ROAD_ENGG_FAULT, #div_id_DRUNK_FAULT, #div_id_OVER_SPEED_FAULT, #div_id_WEATHER_COND, #div_id_OTHER_CAUSE').show();
}

else {    $('#div_id_DRIVER_FAULT, #div_id_VEH_MECH_FAULT, #div_id_ROAD_ENV_FAULT, #div_id_VICTIM_FAULT, #div_id_ROAD_ENGG_FAULT, #div_id_DRUNK_FAULT, #div_id_OVER_SPEED_FAULT, #div_id_WEATHER_COND, #div_id_OTHER_CAUSE').hide();
 }


  });

 $("#id_DRIVER_FAULT").change(function () {
    var selection = $("#id_DRIVER_FAULT option:selected").text();
    //alert("you selected" + selection);
    if (selection=='Others')
    {
    $("#div_id_OTHER_DRIVER_FAULT").show();

    }
    else
    $("#div_id_OTHER_DRIVER_FAULT").hide();
  });


 $("#id_VEH_MECH_FAULT").change(function () {
    var selection = $("#id_VEH_MECH_FAULT option:selected").text();
    //alert("you selected" + selection);
    if (selection=='Other')
    {
    $("#div_id_OTHER_VEC_MEH_FAULT").show();

    }
    else
    $("#div_id_OTHER_VEC_MEH_FAULT").hide();
  });

 $("#id_ROAD_ENV_FAULT").change(function () {
    var selection = $("#id_ROAD_ENV_FAULT option:selected").text();
    //alert("you selected" + selection);
    if (selection=='Other')
    {
    $("#div_id_OTHER_ROAD_ENV_FAULT").show();

    }
    else
    $("#div_id_OTHER_ROAD_ENV_FAULT").hide();
  });


 $("#id_ROAD_ENGG_FAULT").change(function () {
    var selection = $("#id_ROAD_ENGG_FAULT option:selected").text();
    //alert("you selected" + selection);
    if (selection=='Other')
    {
    $("#div_id_OTHER_ROAD_ENGG_FAULT").show();

    }
    else
    $("#div_id_OTHER_ROAD_ENGG_FAULT").hide();
  });


 $("#id_VICTIM_FAULT").change(function () {
    var selection = $("#id_VICTIM_FAULT option:selected").text();
    //alert("you selected" + selection);
    if (selection=='Other')
    {
    $("#div_id_OTHER_VICTIM_FAULT").show();

    }
    else
    $("#div_id_OTHER_VICTIM_FAULT").hide();
  });


$("#id_pvic-0-VIC_WORK_STATUS").change(function () {
    var selection = $("#id_pvic-0-VIC_WORK_STATUS option:selected").text();
    //alert("you selected" + selection);
    if (selection=='Other')
    {
    $("#div_id_pvic-0-VIC_OTHER_WORK_STATUS").show();

    }
    else
    $("#div_id_pvic-0-VIC_OTHER_WORK_STATUS").hide();
  });

$("#id_pvic-0-VIC_EDU_QUAL").change(function () {
    var selection = $("#id_pvic-0-VIC_EDU_QUAL option:selected").text();
    //alert("you selected" + selection);
    if (selection=='Other')
    {
    $("#div_id_pvic-0-VIC_OTHER_EDU_QUAL").show();

    }
    else
    $("#div_id_pvic-0-VIC_OTHER_EDU_QUAL").hide();
  });

$("#id_offend-0-EDU_QUAL").change(function () {
    var selection = $("#id_offend-0-EDU_QUAL option:selected").text();
    //alert("you selected" + selection);
    if (selection=='Other')
    {
    $("#div_id_offend-0-OTHER_EDU_QUAL").show();

    }
    else
    $("#div_id_offend-0-OTHER_EDU_QUAL").hide();
  });

$("#id_offend-0-WORK_STATUS").change(function () {
    var selection = $("#id_offend-0-WORK_STATUS option:selected").text();
    //alert("you selected" + selection);
    if (selection=='Other')
    {
    $("#div_id_offend-0-OTHER_WORK_STATUS").show();

    }
    else
    $("#div_id_offend-0-OTHER_WORK_STATUS").hide();
  });
$("#id_WEATHER_COND").change(function () {
    var selection = $("#id_WEATHER_COND option:selected").text();
    //alert("you selected" + selection);
    if (selection=='Other')
    {
    $("#div_id_OTHER_WEATHER_COND_FAULT").show();

    }
    else
    $("#div_id_OTHER_WEATHER_COND_FAULT").hide();
  });

$("#id_offend-0-VEHTYPE1").change(function () {
    var selection = $("#id_offend-0-VEHTYPE1 option:selected").text();
    //alert("you selected" + selection);
    if (selection=='SCOOTRIST/MC')
    {
    $("#div_id_offend-0-SUBVEHICLE_TYPE1").show();

    }
    else
    $("#div_id_offend-0-SUBVEHICLE_TYPE1").hide();


    if (selection=='BUS DTC' || selection=='BUS UNDER DTC')
    {
    $("#div_id_offend-0-routeno1").show();

    }
    else
    $("#div_id_offend-0-routeno1").hide();

    if (selection=='ANIMAL'|| selection=='BULLOCK CARTS' || selection== 'CYCLIST'|| selection=='CYCLE RICKSHOW' || selection=='HAND CARTS'|| selection=='WALL' ||selection== 'ELECTRIC POLL' ||selection== 'PEDESTRIAN' ||selection== 'SELF')
    {

    $("#div_id_offend-0-rcno1").hide();

    }
    else
    $("#div_id_offend-0-rcno1").show();



  });


$("#id_offend-1-VEHTYPE1").change(function () {
    var selection = $("#id_offend-1-VEHTYPE1 option:selected").text();
    //alert("you selected" + selection);
    if (selection=='SCOOTRIST/MC')
    {
    $("#div_id_offend-1-SUBVEHICLE_TYPE1").show();

    }
    else
    $("#div_id_offend-1-SUBVEHICLE_TYPE1").hide();


    if (selection=='BUS DTC' || selection=='BUS UNDER DTC')
    {
    $("#div_id_offend-1-routeno1").show();

    }
    else
    $("#div_id_offend-1-routeno1").hide();

    if (selection=='ANIMAL'|| selection=='BULLOCK CARTS' || selection== 'CYCLIST'|| selection=='CYCLE RICKSHOW' ||selection=='HAND CARTS'|| selection=='WALL' ||selection== 'ELECTRIC POLL' || selection== 'PEDESTRIAN' ||selection== 'SELF')
    {

    $("#div_id_offend-1-rcno1").hide();

    }
    else
    $("#div_id_offend-1-rcno1").show();

  });



$("#id_offend-2-VEHTYPE1").change(function () {
    var selection = $("#id_offend-2-VEHTYPE1 option:selected").text();
    //alert("you selected" + selection);
    if (selection=='SCOOTRIST/MC')
    {
    $("#div_id_offend-2-SUBVEHICLE_TYPE1").show();

    }
    else
    $("#div_id_offend-2-SUBVEHICLE_TYPE1").hide();


    if (selection=='BUS DTC' || selection=='BUS UNDER DTC')
    {
    $("#div_id_offend-2-routeno1").show();

    }
    else
    $("#div_id_offend-2-routeno1").hide();

    if (selection=='ANIMAL'|| selection=='BULLOCK CARTS' || selection== 'CYCLIST'|| selection=='CYCLE RICKSHOW' ||selection== 'E RICKSHAW' || selection=='HAND CARTS'|| selection=='WALL' ||selection== 'ELECTRIC POLL' || selection== 'HTV/GOODS' ||selection== 'PEDESTRIAN' ||selection== 'SELF')
    {

    $("#div_id_offend-2-rcno1").hide();

    }
    else
    $("#div_id_offend-2-rcno1").show();



  });




$("#id_vvic-0-VEHTYPE2").change(function () {
    var selection = $("#id_vvic-0-VEHTYPE2 option:selected").text();
    //alert("you selected" + selection);
    if (selection=='SCOOTER/M.CYCLE')
    {
    $("#div_id_vvic-0-SUBVEHICLE_TYPE2").show();

    }
    else
    $("#div_id_vvic-0-SUBVEHICLE_TYPE2").hide();


    if (selection=='BUS UNDER DTC' || selection=='BUS DTC')
    {
    $("#div_id_vvic-0-routeno2").show();

    }
    else
    $("#div_id_vvic-0-routeno2").hide();


   if (selection=='ANIMAL'|| selection=='BULLOCK CARTS' || selection== 'CYCLIST'|| selection=='CYCLE RICKSHOW' || selection=='HAND CARTS'|| selection=='WALL' ||selection== 'ELECTRIC POLL'  ||selection== 'PEDESTRIAN' ||selection== 'SELF' || selection=='PASSENGER' || selection=='CYCLE')
    {

    $("#div_id_vvic-0-rgno2").hide();

    }
    else
    $("#div_id_vvic-0-rgno2").show();


  });

$("#id_pvic-0-VEH_INFO").change(function ()
 {
    var selection = $("#id_pvic-0-VEH_INFO option:selected").text();
    //alert("you selected" + selection);
    if (selection=='CAR PVT' || selection=='CALL CENTER CAB' || selection=='DELIVERY VAN'|| selection=='POLICE VEHICLE')
    {
    $("#div_id_pvic-0-VIC_SEAT_BELT").show();

    }
    else
    $("#div_id_pvic-0-VIC_SEAT_BELT").hide();

   if (selection=='SCOOTRIST/MC' || selection=='ELECTRIC BIKE')
    {
    $("#div_id_pvic-0-VIC_HELMET").show();
    $("#div_id_pvic-0-HELMET_STANDARD").show();

    }

    else
    {
    $("#div_id_pvic-0-VIC_HELMET").hide();
    $("#div_id_pvic-0-HELMET_STANDARD").hide();
     }
  });

//id_pvic-0-VEH_INFO
//div_id_pvic-0-OFFEND
//div_id_pvic-0-VIC_SEAT_BELT

</script>

</body>
</html>
